<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分页组件 - Layui</title>
  <meta name="keywords" content="分页,laypage,分页器">
  <meta name="description" content="Layui分页组件使用示例">
</head>
<body>
  <div class="page-content">
    <div class="layui-card">
      <div class="layui-card-header">
        <h3>分页组件 (laypage)</h3>
      </div>
      <div class="layui-card-body">
        
        <fieldset class="layui-elem-field layui-field-title">
          <legend>基础用法</legend>
          <div class="layui-field-box">
            <div id="test1"></div>
          </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
          <legend>自定义主题</legend>
          <div class="layui-field-box">
            <div id="test2"></div>
          </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
          <legend>自定义文本</legend>
          <div class="layui-field-box">
            <div id="test3"></div>
          </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
          <legend>开启跳页</legend>
          <div class="layui-field-box">
            <div id="test4"></div>
          </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
          <legend>完整功能</legend>
          <div class="layui-field-box">
            <div id="test5"></div>
          </div>
        </fieldset>

      </div>
    </div>
  </div>

  <script>
  layui.use(['laypage'], function(){
    var laypage = layui.laypage;
    
    laypage.render({
      elem: 'test1'
      ,count: 50
    });
    
    laypage.render({
      elem: 'test2'
      ,count: 100
      ,theme: '#1E9FFF'
    });
    
    laypage.render({
      elem: 'test3'
      ,count: 100
      ,first: '首页'
      ,last: '尾页'
      ,prev: '<em>←</em>'
      ,next: '<em>→</em>'
    });
    
    laypage.render({
      elem: 'test4'
      ,count: 100
      ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
    });
    
    laypage.render({
      elem: 'test5'
      ,count: 1000
      ,limit: 20
      ,limits: [10, 20, 30, 40, 50]
      ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
      ,jump: function(obj){
        console.log('当前页：'+ obj.curr);
        console.log('每页显示：'+ obj.limit);
      }
    });
  });
  </script>
</body>
</html>
